{% extends 'home\base.html' %}
{% load static %}
{% block styles %}
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}

{% block title %}
{% if title %}
{{ title }}
{% else %}
Research - Kyle Clarkson
{% endif %}
{% endblock %}

{% block content %}
{# ResearchPosts/Articles #}
<section>
    <div class="container vh-100 py-4">
        <h2><strong>Publications</strong></h2>
        <div class="col-lg-12">
            {# Display publications #}
            {% for article in object_list %}
            {% if article.article_type == 'PU' %}
            <div class="row">
                <h3><a href="{% url 'research:research-detail' article.pk %}">{{ article.title }}</a></h3>
            </div>
            <div class="row">
                <p><small>Published: {{ article.date_published|date:"F, Y"}}</small></p>
                <p>{{ article.description}}</p>
            </div>
            <hr>
            {% endif %}
            {% endfor %}
        </div>
        <h2><strong>Reports</strong></h2>
        <div class="col-lg-12">
            {# Display report #}
            {% for article in object_list %}
            {% if article.article_type == 'RP' %}
            <div class="row">
                <h3><a href="{{ article.file }}">{{ article.title }}</a></h3>
            </div>
            <div class="row">
                <p><small>Released: {{ article.date_published|date:"F, Y"}}</small></p>
                <p>{{ article.description}}</p>
            </div>
            <hr>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}