{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}

    {# === Hero === #}
    <div class="d-flex align-items-center justify-content-center min-vh-100" style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static '/images/hero-bg.jpg' %});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            ">

        <div class="text-white text-center">
            <h1 class="mb-3">Welcome, boozhoo.</h1>
            <h4 class="mb-3 mx-5">I'm Kyle and, among other things, I'm a programmer.</h4>
            <a class="btn btn-outline-light btn-lg m-1" href="#about" role="button">My skills</a>
            <a class="btn btn-outline-light btn-lg m-1" href="#projects" role="button">Projects</a>
        </div>
    </div>
    {# === Hero === #}

    <main>
        <div class="container-fluid">
            <div class="container">
                {# === About === #}
                <section id="about" class="text-center" style="padding-top: 50px;">
                    <h3 class="py-5"><strong>A little about me.</strong></h3>
                    <div class="row">
                        {# col 1/2 #}
                        <div class="col-md-6 mb-4">
                            <img src="{% static 'images/kyle-hs.png' %}" alt="its me!"
                                 class="img rounded-circle shadow-1-strong mb-4"
                                 style="width: 300px; height: 300px;"
                            >
                            <p>
                                I recently finished a Master's of Computer Science degree at the University of British
                                columbia and am currently looking for work as developer in Vancouver, BC! I also hike,
                                cycle, and play
                                guitar when I can find the time.
                                <a href="{% url 'main:about' %}">More</a>
                            </p>
                            <!-- Twitter -->
                            <a class="btn btn-primary btn-floating m-1"
                               style="background-color: #55acee;"
                               href="#!"
                               role="button"
                            ><i class="fab fa-twitter"></i
                            ></a>

                            <!-- Instagram -->
                            <a class="btn btn-primary btn-floating m-1"
                               style="background-color: #ac2bac;"
                               href="#!"
                               role="button"
                            >
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        {# col 1/2 #}

                        <div class="col-md-6 mb-4">
                            {# row #}
                            <h4><strong><u>Proficient</u></strong></h4>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <i class="fab fa-java fa-3x m-2"></i>
                                    <p>Java</p>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <i class="fab fa-python fa-3x m-2"></i>
                                    <p>Python</p>
                                </div>
                            </div>

                            {# row #}
                            <h4><strong><u>Used A Lot</u></strong></h4>
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <i class="fab fa-html5 fa-3x m-2"></i>
                                    <p>Html</p>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <i class="fab fa-bootstrap fa-3x m-2"></i>
                                    <p>Bootstrap</p>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <img class="fab fa-3x mt-3" src="{% static 'images/django.svg' %}" alt="">
                                    <p class="mt-3">Django</p>
                                </div>
                            </div>

                            {# row #}
                            <h4><strong><u>Learning</u></strong></h4>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <i class="fab fa-react fa-3x m-2"></i>
                                    <p>React</p>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <i class="fab fa-js fa-3x m-2"></i>
                                    <p>JavaScript</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {# === About === #}
            </div>
        </div>

        {# === Projects === #}
        <div class="container-fluid">
            <div class="container">
                <section id="projects" class="text-center" style="padding-top: 50px;">

                    <h3 class="my-5"><strong>Some of my projects.</strong></h3>

                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4">
                            <div class="card h-100">
                                {# image #}
                                <div class="bg-image hover-overlay ripple" data-ripple-color="light">
                                    <img src="{% static 'images/p1.jpg' %}" class="img-fluid">
                                    <a href="#">
                                        <div class="mask" style="background-color: rgba(255,255,255,0.3);"></div>
                                    </a>
                                </div>
                                {# body #}
                                <div class="card-body">
                                    <h5 class="card-title">Food Lovers</h5>
                                    <p class="card-text">Hello life on Earth is no more. Bitter sweet!</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-4">
                            <div class="card h-100">
                                {# image #}
                                <div class="bg-image hover-overlay ripple" data-ripple-color="light">
                                    <img src="{% static 'images/p1.jpg' %}" class="img-fluid">
                                    <a href="#">
                                        <div class="mask" style="background-color: rgba(255,255,255,0.3);"></div>
                                    </a>
                                </div>
                                {# body #}
                                <div class="card-body">
                                    <h5 class="card-title">Food Lovers</h5>
                                    <p class="card-text">Hello life on Earth is no more. Bitter sweet!</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-4">
                            <div class="card h-100">
                                {# image #}
                                <div class="bg-image hover-overlay ripple" data-ripple-color="light">
                                    <img src="{% static 'images/p1.jpg' %}" class="img-fluid">
                                    <a href="#">
                                        <div class="mask" style="background-color: rgba(255,255,255,0.3);"></div>
                                    </a>
                                </div>
                                {# body #}
                                <div class="card-body">
                                    <h5 class="card-title">Food Lovers</h5>
                                    <p class="card-text">
                                        Hello life on Earth is no more. Bitter sweet!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam mollitia
                                        nostrum odit officiis qui rem reprehenderit voluptates? Animi cumque deleniti
                                        fuga nesciunt porro quidem ullam. Est impedit labore maiores!
                                    </p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        {# === Projects === #}
        <div class="container-fluid">
            <div class="container">
                {# === Contact Form === #}
                <section id="contact">
                    <div class="text-center">
                        <h3 class="mt-5"><strong>Contact me.</strong></h3>
                        <p class="mb-5">See something you like here? Send me a message using the form!</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 mb-5">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_name"
                                           class="form-label">Name</label>
                                    <input type="text" class="form-control" id="id_name">
                                </div>
                                <div class="mb-3">
                                    <label for="id_email" class="form-label">Email address</label>
                                    <input type="email"
                                           class="form-control"
                                           id="id_email"
                                           aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="id_message" class="form-label">Message</label>
                                    <textarea
                                            rows="5"
                                            class="form-control"
                                            id="id_message">

                                    </textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </section>
                {# === Contact Form === #}
            </div>
        </div>
    </main>

{% endblock %}
