{% extends 'base.html' %}
{% load static %}

{% block title %}
    | Research
{% endblock %}
{% block content %}
    {# === Hero === #}
    <div class="d-flex align-items-center justify-content-center min-vh-100" style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static '/images/research-hero.jpg' %});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            ">

        <div class="text-white text-center">
            <h1 class="mb-3">Research.</h1>
            <h3>Some work I contributed to.</h3>
        </div>
    </div>
    </div>
    {# === Hero === #}


    {# card #}
    {#            <div class="card mb-3">#}
    {#                <div class="row g-1">#}
    {#                    <div class="card-body">#}
    {#                        <h3 class="card-title">External Exploration of a Convex Polygon</h3>#}
    {#                        <div class="card-text ms-2">#}
    {#                            <p>#}
    {#                                Using competitive analysis, we present several competitive algorithms to externally#}
    {#                                inspect a convex polygon, the best of which achieves an improved competitive factor#}
    {#                                of ~14.14.#}
    {#                            </p>#}
    {#                            <div class="d-flex justify-content-between">#}
    {#                                <div>#}
    {#                                    <p>#}
    {#                                        <small>Journal: Canadian Conference on Computational Geometry</small>#}
    {#                                    </p>#}
    {#                                    <p>#}
    {#                                        <small>Published: August 2020</small>#}
    {#                                    </p>#}
    {#                                </div>#}
    {#                                <div class="d-flex align-items-center">#}
    {#                                    <a href="#" class="btn btn-outline-primary">View</a>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {# card #}

    <div class="container">
        <section id="publications">
            <h2 class="mt-5">Publications</h2>

            <div class="row px-1">
                {# external exploration of a convex polygon #}
                <div class="card mb-3">
                    <div class="row g-1">
                        <div class="card-body">
                            <h3 class="card-title">External Exploration of a Convex Polygon</h3>
                            <div class="card-text ms-2">
                                <p>
                                    Using competitive analysis, we present several competitive algorithms to externally
                                    inspect a convex polygon, the best of which achieves an improved competitive factor
                                    of ~14.14.
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>
                                            <small>Journal: Canadian Conference on Computational Geometry</small>
                                        </p>
                                        <p>
                                            <small>Published: August 2020</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.researchgate.net/publication/348895936_External_Exploration_of_a_Convex_Polygon"
                                           class="btn btn-outline-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# card #}

                {# where's waldo #}
                <div class="card mb-3">
                    <div class="row g-1">
                        <div class="card-body">
                            <h3 class="card-title">Where's @Waldo? Finding Users on Twitter</h3>
                            <div class="card-text ms-2">
                                <p>
                                    Using tweets from viewers of the 2017 solar eclipse that occurred over the
                                    continental United States, we investigate the use of natural language processing
                                    techniques to predict whether an arbitrary Twitter user is view the eclipse, given
                                    their tweet's content
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>
                                            <small>Journal: Artificial Intelligence and Soft Computing</small>
                                        </p>
                                        <p>
                                            <small>Published: May 2019</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="btn btn-outline-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# card #}

                {# several results of fractional differential ... #}
                <div class="card mb-3">
                    <div class="row g-1">
                        <div class="card-body">
                            <h3 class="card-title">Several Results of Fractional Differential and Integral Equations in
                                Distribution</h3>
                            <div class="card-text ms-2">
                                <p>
                                    We apply convolutions and products of distributions (in the Schwartz sense) to solve
                                    integral and differential equations using the Mattag-Leffler function.
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>
                                            <small>Journal: MDPI</small>
                                        </p>
                                        <p>
                                            <small>Published: June 2018</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="btn btn-outline-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# card #}

                {# card #}
                <div class="card mb-3">
                    <div class="row g-1">
                        <div class="card-body">
                            <h3 class="card-title">The Convolution and Fractional Derivative of Distributions</h3>
                            <div class="card-text ms-2">
                                <p>
                                    Several definitions of convolutions in the distributional sense are presented which
                                    are
                                    both in agreement and simpler than previous definitions. Presented definitions also
                                    provide
                                    a natural derivative of fractional derivatives.

                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>
                                            <small>Journal: Advances in Analysis</small>
                                        </p>
                                        <p>
                                            <small>Published: April 2018</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="btn btn-outline-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# card #}

                {# card #}
                <div class="card mb-3">
                    <div class="row g-1">
                        <div class="card-body">
                            <h3 class="card-title">Babenko's Approach to Abel's Integral Equations</h3>
                            <div class="card-text ms-2">
                                <p>
                                    We use Bobenko's approach and fractional integrals in the
                                    distributional sense to solve Abel's integral equation of the second kind.
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>
                                            <small>Journal: MDPI</small>
                                        </p>
                                        <p>
                                            <small>Published: February 2018</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="btn btn-outline-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# card #}

                {# card #}
                <div class="card mb-3">
                    <div class="row g-1">
                        <div class="card-body">
                            <h3 class="card-title">Remarks on Convolutions and Fractional Derivative of
                                Distributions</h3>
                            <div class="card-text ms-2">
                                <p>
                                    Relations among convolutional definitions and the fractional derivative of
                                    distributions.
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>
                                            <small>Journal: MDPI</small>
                                        </p>
                                        <p>
                                            <small>Published: April 2018</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="btn btn-outline-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# card #}
            </div>
        </section>

        <section id="reports" class="mb-5">
            <h2 class="mt-5">Reports</h2>

            <div class="row px-1">
                {# card #}
                <div class="card mb-3">
                    <div class="row g-1">
                        <div class="card-body">
                            <h3 class="card-title">
                                Was That Sarcasm? A Survey of Machine Learning Models for Classifying Sarcastic Comments
                                on Reddit Using Word Embeddings
                            </h3>
                            <div class="card-text ms-2">
                                <p>
                                    The use of several classification techniques to classify comments on the popular
                                    website reddit as being either sarcastic or not.
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>
                                            <small>Released: December 2018</small>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="btn btn-outline-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# card #}
            </div>
        </section>
    </div>

{% endblock %}