{% extends 'base.html' %}
{% load static %}

{% block title %}
    | Research
{% endblock %}
{% block content %}
    {# === Hero === #}
    <div class="d-flex align-items-center justify-content-center min-vh-100" style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static '/images/research-hero.jpg' %});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            ">

        <div class="text-white text-center">
            <h1 class="mb-3">Research.</h1>
            <h3>Some work I contributed to.</h3>
        </div>
    </div>
    </div>
    {# === Hero === #}


            {# card #}
{#            <div class="card mb-3">#}
{#                <div class="row g-1">#}
{#                    <div class="card-body">#}
{#                        <h3 class="card-title">External Exploration of a Convex Polygon</h3>#}
{#                        <div class="card-text ms-2">#}
{#                            <p>#}
{#                                Using competitive analysis, we present several competitive algorithms to externally#}
{#                                inspect a convex polygon, the best of which achieves an improved competitive factor#}
{#                                of ~14.14.#}
{#                            </p>#}
{#                            <div class="d-flex justify-content-between">#}
{#                                <div>#}
{#                                    <p>#}
{#                                        <small>Journal: Canadian Conference on Computational Geometry</small>#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <small>Published: August 2020</small>#}
{#                                    </p>#}
{#                                </div>#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <a href="#" class="btn btn-outline-primary">View</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            {# card #}

    <div class="container">
        <h2 class="mt-5">Publications</h2>

        <div class="row px-1">
            {# card #}
            <div class="card mb-3">
                <div class="row g-1">
                    <div class="card-body">
                        <h3 class="card-title">External Exploration of a Convex Polygon</h3>
                        <div class="card-text ms-2">
                            <p>
                                Using competitive analysis, we present several competitive algorithms to externally
                                inspect a convex polygon, the best of which achieves an improved competitive factor
                                of ~14.14.
                            </p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <small>Journal: Canadian Conference on Computational Geometry</small>
                                    </p>
                                    <p>
                                        <small>Published: August 2020</small>
                                    </p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a href="#" class="btn btn-outline-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# card #}


            {# card #}
            <div class="card mb-3">
                <div class="row g-1">
                    <div class="card-body">
                        <h3 class="card-title">External Exploration of a Convex Polygon</h3>
                        <div class="card-text ms-2">
                            <p>
                                Using competitive analysis, we present several competitive algorithms to externally
                                inspect a convex polygon, the best of which achieves an improved competitive factor
                                of ~14.14.
                            </p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <small>Journal: Canadian Conference on Computational Geometry</small>
                                    </p>
                                    <p>
                                        <small>Published: August 2020</small>
                                    </p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a href="#" class="btn btn-outline-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# card #}


            {# card #}
            <div class="card mb-3">
                <div class="row g-1">
                    <div class="card-body">
                        <h3 class="card-title">External Exploration of a Convex Polygon</h3>
                        <div class="card-text ms-2">
                            <p>
                                Using competitive analysis, we present several competitive algorithms to externally
                                inspect a convex polygon, the best of which achieves an improved competitive factor
                                of ~14.14.
                            </p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <small>Journal: Canadian Conference on Computational Geometry</small>
                                    </p>
                                    <p>
                                        <small>Published: August 2020</small>
                                    </p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a href="#" class="btn btn-outline-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# card #}


            {# card #}
            <div class="card mb-3">
                <div class="row g-1">
                    <div class="card-body">
                        <h3 class="card-title">External Exploration of a Convex Polygon</h3>
                        <div class="card-text ms-2">
                            <p>
                                Using competitive analysis, we present several competitive algorithms to externally
                                inspect a convex polygon, the best of which achieves an improved competitive factor
                                of ~14.14.
                            </p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <small>Journal: Canadian Conference on Computational Geometry</small>
                                    </p>
                                    <p>
                                        <small>Published: August 2020</small>
                                    </p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a href="#" class="btn btn-outline-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# card #}
        </div>
    </div>

{% endblock %}